@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}


@layer base {

  body {
    @apply bg-[#f9f9f9];
  }
}
.has-appuntamento > button {
  position: relative;
}

.has-appuntamento::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e62c33;
}